# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Project specific
data/progress/*
data/backups/*
!data/progress/.gitkeep
!data/backups/.gitkeep
data/temp_content/
h8mail.log
scan_history.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
tools/portable/h8mail/h8mail.log
tools/portable/nmap/config/scan_history.sqlite
